[submodule "/home/levi/git_repos/Astro-Template/src/content/astro-friendslist"]
	path = /home/levi/git_repos/Astro-Template/src/content/astro-friendslist
	url = https://github.com/Cryochasm/Astro-FriendsList.git
	branch = main
